<h1>Edit Station</h1>

<%= render("layouts/errors", :object => @station) %>

<%= form_for @station, :html => { :multipart => true } do |f| %>
  <div>
    <%= f.label "Station name" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <% @lines.each do |line| %>
      <%= check_box_tag("line_ids[]", line.id, @station.lines.include?(line)) %>
      <%= label_tag("#{line.name}") %>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>
